body {
    background-color: rgb(158, 201, 201);
}

.nav-bar {
    background-color: black;
    padding: 5px;
    color: white;
    padding: 10px;
    text-align: right;
}
.nav-bar a {
    text-decoration: none;
    color: white;
}

header h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    -webkit-text-stroke: 1px #111;
    
}
.banner {
    background: url(../assets/images/cloud\ background\ image.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: 69%;
}
.banner-content {
    color: white;
    padding: 150px;
}

.banner-content img {
    border-radius: 50%;
    align-content: center;
    justify-content: center;
}
header h2 {
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 1px #111;
}
.coding-languages {
    background-image: linear-gradient(white, rgb(158, 201, 201));
    color: white;
    text-align: center;
    padding: 5px;
}
.coding-languages li {
    display: inline;
    text-align: center;
    padding: 5px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}
.content-grid {
    background-color: 158, 201, 201;
    border: dashed rgb(0, 181, 252);
    
    align-items: flex-start;
    text-align: center;
    color: white;

}
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.img-box {
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(../assets/images/coming\ soon.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.img-box:nth-child(2){
    background: url(../assets/images/blue\ coming\ soon.jpeg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3){
    background: url(../assets/images/coming-soon-yellow-background-design_1017-37084.avif);
    background-size: cover;
    background-position: center;
}

.img-box h3 {
    color: white;
    position: absolute;
    top: auto;
   right: 20px;
   opacity: 0;
   transition: top 0.5s, opacity 0.5s;
}

.img-box:hover {
    width: 300px;
    cursor: pointer;
}
.img-box:hover h3 {
    opacity: 1;
    top: 25px
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 5px;
}
footer a {
    font-size: 30px;
    margin: 5px;
    text-align: center;
}

@media (max-width:790px) {
    .banner-content h1 {
        font-size: 70px;
    }
    
    .banner-content h2 {
        font-size: 0.8rem;
    }

}
